<div class="page-container">
    <div id="{{ map_ctx.id }}" class="full-map-container"></div>
    <div class="map-loading-text">Map Loading...</div>
</div>
<script>
    (function () {
        const segments = [
            {% for segment in map_ctx.segments %}
                {{ segment.model_dump() | tojson }},
            {% endfor %}
        ];
        const steps = [
            {% for step in map_ctx.steps %}
                {
                    "lat_val": {{ step.lat_val }},
                    "lon_val": {{ step.lon_val }},
                    "cover_photo": "{{ step.cover_photo }}"
                },
            {% endfor %}
        ];
        const containerId = "{{ map_ctx.id }}";

        if (typeof window.initMapLogic !== 'function') {
            console.error("initMapLogic is missing! Check editor.js loading.");
        } else {
            window.initMapLogic(containerId, segments, steps);
        }
    })();
</script>
