<div class="page-container">
    <div id="{{ map_ctx.id }}" class="full-map-container"></div>
</div>
<script>
    initMapLogic(
        "{{ map_ctx.id }}",
        [
            {% for segment in map_ctx.segments %}
                {{ segment.model_dump() | tojson }},
            {% endfor %}
        ],
        [
            {% for step in map_ctx.steps %}
                {
                    lat_val: {{ step.lat_val }},
                    lon_val: {{ step.lon_val }},
                    cover_photo: "{{ step.cover_photo }}"
                },
            {% endfor %}
        ]
    );
</script>
