# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/
pycrucible_payload

# Virtual environments
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Generated output
output/

# Cache
.*cache
.nicegui

trip