# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
pycrucible_payload

# Virtual environments
.venv/

# Node
node_modules/
dist/
dist-ssr/

# Logs
*.log

# IDE
.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.sw?
*~
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

# App data
*.env
backend/data

# Generated
frontend/public/countries
frontend/src/api

# Test
playwright-report/
test-results/
