* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}

@page {
  size: var(--page-width) var(--page-height);
  margin: 0;
  padding: 0;
}

body {
  font-family: "Renner", sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}
