.page-container {
    width: 100%;
    max-width: var(--page-width);
    aspect-ratio: var(--page-aspect-ratio);
    min-height: var(--page-height);
    margin: 0 auto;
    padding: 0 12mm;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    display: flex;

    /* Page break properties */
    page-break-after: always;
    page-break-inside: avoid;
    break-after: page;
    break-inside: avoid;
}


.step-data {
    flex: 1;
    background: var(--bg-panel);
    padding: var(--spacing-xxl) var(--spacing-lg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.step-content {
    aspect-ratio: var(--cover-aspect-ratio);
    background: var(--bg-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}


.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: transparent;
    margin: auto;
}

.metadata-section {
    margin-bottom: 5mm;
}

/* Two-column text spans entire page */
.step-page.with-long-desc {
    flex-direction: column;
}

.step-page.with-long-desc .step-data {
    flex-direction: row;
    align-items: center;
    padding: var(--spacing-xxxl);
}

.step-page.with-long-desc .location-section {
    margin-bottom: 0;
}

.step-page.with-long-desc .metadata-section {
    width: 40%
}

.step-page.with-long-desc .step-content {
    width: 100%;
    min-height: 300px;
    background: var(--bg-primary);
}


#trip-map {
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

#map-loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #666;
    z-index: 0;
}
