.step-name {
    font-family: var(--font-primary);
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.step-description {
    font-family: "Noto Sans Hebrew", sans-serif;
    font-size: 0.7rem;
    line-height: 1.8;
    color: var(--text-secondary);
    margin-bottom: 1rem;
    white-space: pre-wrap;
    overflow: hidden;
}

.long-description {
    padding: var(--spacing-lg);
    color: var(--text-secondary);
    font-family: "Noto Sans Hebrew", sans-serif;
    line-height: 1.8;
    white-space: pre-wrap;
    font-size: 0.7rem;
    columns: 2;
}

.rtl {
    direction: rtl;
    text-align: right;
}

.ltr {
    direction: ltr;
    text-align: left;
}

.long-description .step-description {
    font-family: "Noto Sans Hebrew", sans-serif;
    line-height: 1.8;
    color: #e0e0e0;
    white-space: pre-wrap;
}
