.page-container {
    max-width: var(--page-width);
    aspect-ratio: var(--page-aspect-ratio);
    min-height: var(--page-height);
    margin: 0 auto;
    padding: 5mm;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    position: relative;
    box-sizing: border-box;
    display: flex;

    /* Page break properties */
    page-break-after: always;
    page-break-inside: avoid;
    break-after: page;
    break-inside: avoid;
}

/* Step Index */
.step-index {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 4rem;
    color: var(--text-primary);
    text-shadow: 0 0 10px var(--bg-primary);
}

@media print {
    .step-index {
        display: none
    }
}
