.step-name {
  font-family: var(--font-primary);
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.step-description {
  height: 100%;
  font-family: "Noto Sans Hebrew", sans-serif;
  font-size: 0.7rem;
  line-height: 1.8;
  color: var(--text-secondary);
  white-space: pre-wrap;

  margin-bottom: 1rem;
  overflow: hidden;
}

.long-description {
  height: 100%;
  font-family: "Noto Sans Hebrew", sans-serif;
  font-size: 0.7rem;
  line-height: 1.8;
  color: var(--text-secondary);
  white-space: pre-wrap;

  padding: var(--spacing-lg);
  columns: 2;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}
