<div class="title-page-container">
    {% if trip.cover %}
        <img src="{{ trip.cover | path_to_url }}"
             class="title-page-cover"
             alt="Trip Cover Photo">
    {% endif %}
    <div class="title-page-overlay">
        <div class="title-page-content">
            <div class="title-page-dates">{{ trip.dates }}</div>
            <h1 class="title-page-title" dir="{{ trip.title_dir }}">{{ trip.title }}</h1>
            {% if trip.subtitle %}
                <div class="title-page-summary" dir="{{ trip.subtitle_dir }}">{{ trip.subtitle }}</div>
            {% endif %}
        </div>
    </div>
</div>
<div class="title-page-container">
    {% if trip.back_cover %}
        <img src="{{ trip.back_cover | path_to_url }}"
             class="title-page-cover"
             alt="Trip Back Cover Photo">
    {% endif %}
</div>
