@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&icon_names=print");

.step-name {
    font-family: var(--font-primary);
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.step-description {
    width: 100%;
    font-family: "Noto Sans Hebrew", sans-serif;
    font-size: 0.7rem;
    color: var(--text-secondary);
    white-space: pre-wrap;
    text-align: justify;
}

.step-description.short {
    margin-bottom: 2rem;
    margin-top: 2rem;
    overflow: hidden;
}

.step-description.long {
    font-size: 0.8rem;
    padding: var(--spacing-xl) var(--spacing-md);
    column-width: 30rem;
    column-fill: auto;
    column-gap: var(--spacing-xl);
}